<div class="chat-container">
  <div class="chat-container__toolbar flex">
    <div class="chat-container__toolbar-main flex">
      <button mat-icon-button aria-label="back icon" routerLink="/chats">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <div class="chat-container__user-info flex">
        <user-avatar [preview]="friendAvatarLink"></user-avatar>
        <div class="chat-container__user-name flex">
          <span>Name FirstName</span>
          <span class="user-status-online">Online
            <span class="status-marker-online"></span>
          </span>
        </div>
      </div>
    </div>
    <button mat-icon-button aria-label="menu icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="chat-container__messages flex">
    <div class="chat-container__empty-block" *ngIf="messages.length === 0; else messegasList">
      You don't have messages yet.
  </div>
  <ng-template #messegasList>
    <div *ngFor="let message of messages; index as i;">
      <chat-message 
      [currentUser]="message.senderId === currentUser.id" 
      [avatarLink]="message.senderId === currentUser.id ? currentUserAvatarLink : friendAvatarLink" 
      [text]="message.text" 
      [date]="message.formattedDate">
      </chat-message>
    </div>
  </ng-template>
  </div>
  <div class="chat-container__message-field">
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Enter your message here" [(ngModel)]="message"></textarea>
      <button matSuffix mat-icon-button [disabled]="!message" aria-label="Clear" type="button" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>