.terms-and-policy {
  height: 100%;
  &__toolbar {
    background-color: #040D32;
    color: #EAEDF3;
  }

  &__content {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    max-height: 80%;
    overflow: auto;
  }

  &__content-title {
    margin-bottom: 20px;
  }
}