<div class="admin-panel">
  <div class="admin-panel__header">
    <h2>Admin panel</h2>
  </div>
  <div class="admin-panel__content">
    <mat-card>
      <h3>Users</h3>
      <section *ngIf="!usersListTable.data.length; else showUsers" class="admin-panel__empty-data">
        No users to find
      </section>
      <ng-template #showUsers>
        <div class="admin-panel__table-container">
          <table mat-table [dataSource]="usersListTable" class="mat-elevation-z8">
            <ng-container matColumnDef="avatar">
              <td mat-cell *matCellDef="let element">
                <user-avatar [preview]="element.avatar"></user-avatar>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Block" (click)="adminAction(element, true)" color="primary">
                  <mat-icon>block</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator *ngIf="dataPagination.totalItems >= pagination.size" [length]="dataPagination.totalItems"
          [pageIndex]="dataPagination.currentPage" [pageSize]="pagination.size" [pageSizeOptions]="[5, 10, 20]"
          (page)="pageChanged($event)" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
      </ng-template>
    </mat-card>
    <mat-card>
      <h3>Bunned Users</h3>
      <section *ngIf="!bannedUsers.length; else showBanned" class="admin-panel__empty-data">
        No users to find
      </section>
      <ng-template #showBanned>
        <div class="admin-panel__table-container">
          <table mat-table [dataSource]="bannedUsers" class="mat-elevation-z8">
            <ng-container matColumnDef="avatar">
              <td mat-cell *matCellDef="let element">
                <user-avatar [preview]="element.avatar"></user-avatar>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Block" (click)="adminAction(element, false)" color="primary">
                  <mat-icon>clear</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </ng-template>
    </mat-card>
  </div>
</div>