<div class="reset-password-block">
  <img src="../../../assets/forgot-pw.png" alt="Reset password">
  <div class="reset-password-block__form" *ngIf="userToken; else missedToken">
    <h1>Password recovery</h1>
    <p>Enter the email you're using for your account.</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <p>
        <password-field formControlName="password" label="Password" [passwordInvalid]="checkValid('password')"
          [errorMessage]="getErrorMessage('password')"></password-field>
      </p>
      <p>
        <password-field formControlName="passwordConfirmation" label="Confirm password"
          [passwordInvalid]="checkValid('passwordConfirmation')"
          [errorMessage]="getErrorMessage('passwordConfirmation')"></password-field>
        <mat-error *ngIf="passwordMatchError()">Password does not match!
        </mat-error>
      </p>
      <button mat-flat-button color="primary" type="submit" class="big-button" [disabled]="!changePasswordForm.valid">
        Reset password
      </button>
    </form>

  </div>
  <ng-template #missedToken>
    <div class="reset-password-block__form">
      <h1>Password recovery is unavailable!</h1>
      <p>Email address is missed. Please contact our client service for additional help.</p>
    </div>
  </ng-template>
</div>