<div class="reset-password-block">
  <img src="../../../assets/forgot-pw.png" alt="Reset password">
  <div class="reset-password-block__form" *ngIf="userToken; else missedToken">
    <h1>Password recovery</h1>
    <p>Enter the email you're using for your account.</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="checkValid('password')">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" formControlName="passwordConfirmation">
          <mat-error *ngIf="checkValid('passwordConfirmation')">{{getErrorMessage('passwordConfirmation')}}
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="passwordMatchError()">Password does not match!
        </mat-error>
      </p>
      <button mat-flat-button color="primary" type="submit" class="big-button" [disabled]="!changePasswordForm.valid">
        Reset password
      </button>
    </form>

  </div>
  <ng-template #missedToken>
    <div class="reset-password-block__form">
      <h1>Password recovery is unavailable!</h1>
      <p>Email address is missed. Please contact our client service for additional help.</p>
    </div>
  </ng-template>
</div>