<div class="forgot-password-block">
  <img src="../../../assets/forgot-pw.png" alt="Forgot password">
  <div class="forgot-password-block__form">
    <h1>Password recovery</h1>
    <p>Enter the email you're using for your account.</p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email">
          <mat-error *ngIf="checkValid()">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
    <!-- </form> -->

    <button mat-flat-button color="primary" type="submit" class="big-button" [disabled]="!email.valid">
      Reset
    </button>
    <p class="login-link"><a routerLink="/login" class="link-color">Back to Login</a></p>
  </div>
</div>