.forgot-password-block {
  display: flex;
  height: 100%;

  &__form {
    padding: 20px;
    margin: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
  }

  .login-link {
    margin-top: 10px;
  }
}
