<div class="forgot-password-block">
  <img src="../../../assets/forgot-pw.png" alt="Forgot password" class="forgot-password-block__image">
  <div class="forgot-password-block__main">
    <div class="forgot-password-block__form">
      <h1>Password recovery</h1>
      <p>Enter the email you're using for your account.</p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email">
          <mat-error *ngIf="checkValid()">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <app-button class="big-button" [disabled]="!email.valid" (onClick)="resetEmail()" label="Recover password"
        [loading]="loading"></app-button>
      <p class="login-link"><a routerLink="/login" class="link-color">Back to Login</a></p>
    </div>
  </div>
</div>