<div class="home-dashboard">
  <mat-toolbar class="home-dashboard__toolbar">
    <div class="home-dashboard__logo">
      <img src="../../assets/logo.png" width="150px" />
    </div>
    <span class="home-dashboard__spacer"></span>
    <user-avatar [preview]="preview"></user-avatar>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openMyProfile()">My profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </mat-toolbar>
  <section class="home-dashboard__content">
    <div class="home-dashboard__header">
      <h2>Chats</h2>
      <button mat-flat-button color="primary" type="button" class="big-button home-dashboard__new-chat-button"
        (click)="openUsersList()">
        + New chat
      </button>
    </div>

    <section *ngIf="!chatsList.length; else showChats" class="home-dashboard__empty-data">
      You don't have active chats yet. <br /><br />
      Click on "New chat" button to start messaging with other users.
    </section>
    <ng-template #showChats>
      <chats-list [chatsList]="chatsList"></chats-list>
    </ng-template>
  </section>


</div>